.app {
  .home {
    position: relative;

    .contribution {
      background: white;
    }

    .our-team, .contribution {
      .title {
        font-size: 2em;
        font-weight: 700;
      }
    }

    .our-progress {
      .title {
        font-size: 2em;
        font-weight: 700;
      }
      .timeline {
        .content {
          text-align: justify;
        }
      }
    }
  }
}
