.app {
  background: #bae7ff;

  .home {
    position: relative;

    .our-team {
      .title {
        font-size: 2em;
        font-weight: 700;
      }
    }

    .our-progress {
      .title {
        font-size: 2em;
        font-weight: 700;
      }
      .timeline {
        .content {
          text-align: justify;
        }
      }
    }
  }
}