.app {
  .softvessel {
    position: relative;

    .title {
      font-size: 1.3em;
      font-weight: 700;
    }
    .content {
      text-align: justify;
    }
    .image {
      height: 100%;
    }
    .video {
      display: flex;
      justify-content: center;
    }
    .points {
      text-align: justify;
    }
    .section-title {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
